.topic{
  margin: 5rem 0;
  & > h1{
    font-size: 2.3rem;
    font-weight: 700;
    margin: 4rem;
    text-align: center;
  }
}

.top-categories{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 3rem;
  &__card{
    border: 1px solid #dcdacb;
    margin:0 1.6rem 1.6rem 0;
    &:hover{
      cursor: pointer;
    }
    & > h1 {
      color: #3C3B37;
      font-size: 2rem;
      padding: 3rem 2rem;
    }
  }
}

@media (max-width: 1332px){
  .top-categories__card > img {
    width: 25rem;
  }
}
