.features {
  margin: 5rem 0;
  & > h2 {
    font-size: 2.6rem;
    font-weight: 700;
    color: #3C3B37;
    margin: 0 0 5rem 20rem;
    @media(max-width: 1200px){
      margin-left: 10rem;
    }
    @media(max-width: 800px){
      margin-left: 2rem;
    }

  }
  &__btn{
    margin: 2rem 0 0 20rem;
    padding: 1rem 2rem;
    color: white;
    background-color: #0F7C90;
    border: none;
    outline: none;
    font-size: 1.6rem;
    border-radius: 5px;
    @media(max-width: 1200px){
      margin-left: 10rem;
    }
    @media(max-width: 800px){
      margin-left: 2rem;
    }
  }

  &__container{
    margin: 0 20rem;
    display: flex;
    justify-content: space-between;
    @media(max-width: 1200px){
      margin: 0 10rem;
    }
    @media(max-width: 800px){
      margin: 2rem;
      flex-wrap: wrap;
      & > div:not(:last-child){
        margin-right: 2rem;
      }
    }
    &__row {
      & > h3{
        font-size: 1.8rem;
        font-weight: 700;
        color: #3C3B37;
        display: inline-block;
        margin-bottom: 2rem;
      }
      &__content{
        margin-bottom: 4rem;

        & > h3 {
          font-size: 1.8rem;
          font-weight: 700;
          color:#0F7C90;
        }

        & > p {
          font-size: 1.5rem;
        }
      }
    }
  }
}

