.header{
  position: relative;
  margin: 0 10rem;
  &__img{
    margin: 0 auto;
    height: 50vh;
  }
  &__content{
    background-color: white;
    position: absolute;
    top: 6.4rem;
    left: 4.8rem;
    width: 40rem;
    height: max-content;
    padding: 2rem;
    @media(max-width: 500px){
      left: 0;
      width: 30rem;
    }
    & > h1{
      font-weight: 900;
      font-size: 4rem;
      color: #3C3B37;
      margin-bottom: 1rem;
    }
    & > p {
      font-size: 2rem;
      color: #3C3B37;
      margin-bottom: 1.4rem;
    }
  }
  &__input{
    width: 100%;
    box-sizing: border-box;
    height: 4.6rem;
    padding: 1rem;
    border: 1px solid #3C3B37;
    display: flex;
    justify-content: space-between;
    & > input{
      border: none;
    }
  }
}

@media(max-width: 1520px){
  .header{
    margin: 0;
    &__img{
      width: 100%;
      object-fit: cover;
    }
  }
}


//Get Started section

.get-started{
  margin-top: 5rem;
  background: url(https://udemy-images.udemy.com/browse_components/shared-assets/purple-intersect.svg) repeat-x #6e1a52;
  background-size: auto 120%;
  background-position: 0 -2.4rem;
  height: 20rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;

  & > h1 {
    font-size: 3.2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    @media(max-width: 500px){
      font-size: 1.8rem;
    }
  }
  & > p {
    font-size: 1.7rem;
    margin-bottom: 1.5rem;
    @media(max-width: 500px){
      font-size: 1.2rem;
    }
  }
  & > button {
    background-color: #6e1a52;
    color: white;
    padding: 1.5rem 3rem;
    border: 1.5px solid white;
    border-radius: 5px;
    @media(max-width: 500px){
      padding: 1rem 2rem;
    }
    &:hover{
      cursor: pointer;
    }
  }
}
