*,
*::after,
*::before{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
@media(max-width: 1200px){
  html{
    font-size: 56.5%;
  }
}
@media(max-width:900px){
  html{
    font-size: 54%;
  }
}
@media(min-width:1800px){
  html{
    font-size: 75%;
  }
}

.nav-big{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 0 2rem;
  box-shadow: 0px -10px 25px #3C3B37;
  &__img{
    height: 12rem;
  }
  &__link{
    font-size: 1.4rem;
    text-decoration: none;
    color: #3C3B37;
  }
  &__input{
    width: 30%;
    height: 4.6rem;
    border: 1px solid #3C3B37;
    padding-left: 2rem;
    border-radius: 50px;
  }
  &__btn{
    &-login{
      width: 10rem;
      height: 4rem;
      background-color: white;
      color: #0F7C90;
      border: 1px solid #3C3B37;
      border-radius: 5px;
    }
    &-signup{
      width: 10rem;
      height: 4rem;
      background-color: #0F7C90;
      color: white;
      border: none;
      border-radius: 5px;
      margin-left: 2rem;
    }
  }
}
.nav-small{
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 0 2rem;
  height: 10vh;
  border-bottom: 1px solid #3C3B37;
  &__udemy{
    width: 10rem;
  }
  &__icon > img {
    margin-left: 2rem;
  }
}

//Media Queries

@media(max-width: 1080px){
  .nav-big__link_2{
    display: none;
  }
}

@media(max-width: 920px){
  .nav-big__link_3{
    display: none;
  }
}

@media(max-width: 800px) {
  .nav-big{
    display: none;
  }
}
@media(min-width: 800px) {
  .nav-small{
    display: none;
  }
}
